name: Expo CI Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: Install EAS CLI
        run: npm install -g eas-cli

      - name: Install dependencies
        run: |
          npm install --legacy-peer-deps

      - name: Authenticate with Expo
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
        run: |
          eas whoami --token "$EXPO_TOKEN"

      - name: Publish update to Expo
        run: |
          eas update --auto
